# Serveur
PORT=5000
NODE_ENV=production

# Base de données
DATABASE_URL="postgresql://user:abdelmajid@host:5432/lms_scolaire"

# Frontend (CORS)
FRONTEND_URL=http://localhost:3000

# Clerk
CLERK_SECRET_KEY=sk_test_...